<ion-content [fullscreen]="true">
  <div>
    <ion-card mode="ios">
      <img src="{{imagem}}" width="400" height="400" />
      <ion-card-header>
        <ion-card-title>Idade: {{dadosCachorro.idade}}</ion-card-title>
        <ion-card-title>Nome: {{dadosCachorro.nome}} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          
           <ion-col>
          <ion-button size="small" color="primary" fill="outline">
            <ion-icon name="star"></ion-icon>
            <ion-label style="margin-top: 0; margin-left: 6px">Salvar</ion-label>
          </ion-button>
        </ion-col>
          <ion-col size="4">
            <ion-button size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-label style="margin-top: 0; margin-left: 6px"
                >Excluir
              </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div class = "gerarImg">
  <ion-button expand="full"(click)="gerar()">Alterar imagem do cachorro</ion-button>
  </div>
</ion-content>
