<ion-content class="ion-padding">
  <br /><br />
  <h1 class="ion-text-center logo-white">Cadastre seu cachorro!</h1>
  <br />
  <br />
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        placeholder="Nome"
        [(ngModel)]="dadosCachorro.nome"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Idade</ion-label>
      <ion-input
        placeholder="Idade"
        [(ngModel)]="dadosCachorro.idade"
      ></ion-input>
    </ion-item>
  </ion-list>
  <br />
  <ion-button
    ion-item
    color="dark"
    fill="outline"
    shape="round"
    expand="full"
    size="medium"
    (click)="cadastrar()"
  >
    Cadastrar
  </ion-button>
  <br />
</ion-content>
