
<ion-content [fullscreen]="true">
  <div class="divPrincipal">
    <ion-row style="margin-top: 30px">
      <ion-col id="coluna">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Nome<span style="color: red">*</span></ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Nome"
            maxlength = "8"
            [(ngModel)] = "dadosCachorro.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px">
      <ion-col id="coluna">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Idade<span style="color: red">*</span></ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: 5"
            maxlength = "8"
            [(ngModel)] = "dadosCachorro.idade">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="block" (click)="cadastrar()">{{labelBotao}}</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

